# Server
PORT=3000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:5173

# MongoDB
MONGO_URI=mongodb+srv://spandanam_db_user:lHFCA8W6bbVdGM80@cluster0.0mmo9su.mongodb.net

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
JWT_SECRET=SECRET
REGISTRATION_TOKEN_SECRET=REGISTRATION_SECRET

# SendGrid
SENDGRID_API_KEY=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
SENDGRID_FROM_EMAIL=spandanahegde3@gmail.com

# Game Config
TURN_TIMEOUT_MS=30000
ROOM_CODE_TTL_SECONDS=600
OTP_TTL_SECONDS=600
